[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
flask = "*"
flask-cors = "*"
flask-restx = "*"
flask-testing = "*"
google-cloud = "*"
google-cloud-secret-manager = "*"
gunicorn = "*"
pyrebase4 = "*"
pytest = "*"
python-dotenv = "*"
setuptools = "*"
google-cloud-firestore = "*"

[dev-packages]

[requires]
python_version = "3.13"
